@import "tailwindcss";

@theme {
  --color-background: #0b0b0e;
  --color-text: #ffffff;
  --color-muted: #a1a1aa;
  --color-accent: #3b82f6;
  --color-accent-hover: #60a5fa;
  --color-accent-glow: #3b82f633;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
  }
}
